<div class="container">
    <section>
        <h2>Crie sua própria Sala</h2>
        <form action="/create-room" method="POST">
            <label for="room-pass" class="sc-only">Insira uma Senha</label>
            <input type="password" name="password" id="room-pass" placeholder="Insira uma Senha">
            <button>
                <img src="images/users-white.svg" />
                Criar Sala
            </button>
        </form>
    </section>

</div>